body {
    margin: 0;
}

/* CSS for the header */

header {
    color: white;
    background: rgb(39, 39, 151);
    display: flex;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex: 3;
    align-items: flex-end;
    padding: 10px;
}

nav a {
    color: white;
}



/* CSS for all the h elements */
h1 {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

h2 {
    background-color: grey;
    border-left: 6px solid black;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}



/* CSS for the folder, note and writing field section */

.container {
    display: flex;

}

.container div{
    border-right: 2px solid black;
    padding: 10px;

}

.folderCSS {
    display: flex;
    justify-content: space-between;
    margin-left: 1vh;
    margin-right: 1vh;
}
.noteCSS {


    margin-left: 1vh;
    margin-right: 1vh;
}

.folder {
flex: 1;
}

.notes {
    flex: 1;

}

.writingfield {
    flex: 5;

}
#imgFileDiv {
    display: flex;
    border: none;
}

#textArea {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    resize: none;
    width: 100%;
    height: 100%;
}
.headerButton {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 4px;
}
.headerButton:hover {
    background-color:rgb(65, 65, 197)
}
.noteButton {
    margin-bottom: 10px;

}
.noteButton:focus {
    background-color: rgb(39, 39, 151);
}
img {
    width: 150px;
    display: flex;
    height: 84.39px;
    margin-right: 10px;
}
img:hover {
    width: 300px;
    height: 168.78px;
}

.folderButton {
    background-color: #bdc2bd; 
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    flex: 1;
    border-radius: 4px;
    margin-right: 5px;
  }

.deleteFolderButton {

    background-color: #bdc2bd; 
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.deleteFolderButton:hover {
    background-color:rgb(65, 65, 197)
    }

.noteButton {
    background-color: #bdc2bd; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    flex: 1;
    border-radius: 4px;
    margin-right: 5px;
    flex-grow: 1;

}

input[type="file"] {
    display: flex;
    
    
}
#file {
    
    border-radius: 8px;
    display:inline-block;
    color: cyan;
    cursor: pointer;
}

#picture {
    
    border-radius: 8px;
    display:inline-block;
    color: cyan;
    cursor: pointer;
}

#download {
    background-color: #bdc2bd; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    flex: 1;
    border-radius: 4px;
    margin-right: 5px;
    flex-grow: 0.1;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    
}
#downloadATag {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

#download:hover {
    background-color:rgb(65, 65, 197);
}
.addButton {
    border-radius: 4px;
    
}
button {
    cursor:pointer;
}
